<%
var helpers_id = {}
helpers.map( (helper, index) => {
    helpers_id[helper.email] = 'helper'+index+'-post';
});
%>
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/editraid">Gérer mes raids</a></li>
            <li class="breadcrumb-item active"><%= raid.name%> - Édition <%= raid.edition%></li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4><%= raid.name%> - Édition <%= raid.edition%></h4>
                    </div>
                    <div class="card-body">
                        <table id="table" class="table table-bordered table-responsive-md table-striped text-center">
                            <tr>
                                <th class="text-center">Lieu</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Étapes</th>
                                <th class="text-center">Carte</th>
                            </tr>
                            <tr>
                                <td class="pt-3-half" contenteditable="false" width="40%"><%= raid.place %></td>
                                <td class="pt-3-half" contenteditable="false" width="20%"><%= raid.date %></td>
                                <td class="pt-3-half" contenteditable="false" width="20%">
                                    <% courses.map( (course, index) => { %>
                                        <%= course.name %>
                                        <% if(index !== courses.length) {%><br/><% }%>
                                    <% }); %>
                                </td>
                                <td class="pt-3-half" contenteditable="false" width="20%">
                                    <button type="button" class="btn btn-info btn-rounded btn-sm my-0" onclick="location.href='/editraid/<%=raid.id%>/map';">Éditer la carte</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% if (pois.length > 0 ) { %>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>Points d'intérêts</h4>
                        <button style="margin-left: 1em;" type="button" class="btn btn-info btn-rounded btn-sm" onclick="updatePOI()">Sauvegarder les points d'intérêts</button>
                    </div>
                    <div class="card-body">
                        <div class="table-editable">
                            <table id="poi_table" class="table table-bordered table-responsive-md table-striped text-center">
                                <tr>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Nombre de bénévole</th>
                                    <th class="text-center">Description</th>
                                </tr>
                                <% pois.map(poi => { %>
                                <tr>
                                    <td class="poi_id" style="display: none;"><%= poi.id %></td>
                                    <td class="pt-3-half poi_name" contenteditable="true" width="40%"><%=poi.name%></td>
                                    <td width="20%" contenteditable="false"><input class="poi_number_helper" type="number" min="1" value="<%= poi.nb_helper %>"/></td>
                                    <td width="40%" class="poi_description" contenteditable="true"><%= poi.description %></td>
                                </tr>
                                <% }); %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>Organisateurs</h4>
                        <button style="margin-left: 1em;" type="button" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#mailModal" data-mail="<% organizers.forEach(function (organizer) { %><%=organizer.email%>,<% });%>" data-type="Organizers">Contacter tous les organisateurs</button>
                    </div>
                    <div class="card-body">
                        <div class="table-editable">
                            <div id="invite_organizer_result"></div>
                            <form class="form-inline" style="margin-bottom: 1em !important;">
                                <input style="margin-right: 0.5em;" id="mail_organizer" type="email" placeholder="Saisir l'adresse e-mail d'un organisateur" class="form-control form-control-success col-sm-4 ">
                                <button type="button" class="btn btn-primary btn-rounded" onclick="inviteOrganizer()">Ajouter un organisateur</button>
                            </form>
                            <table id="table" class="table table-bordered table-responsive-md table-striped text-center">
                                <tr>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Contacter</th>
                                    <th class="text-center">Supprimer</th>
                                </tr>
                                <% organizers.map(organizer => { %>
                                <tr>
                                    <td class="pt-3-half" contenteditable="false" width="60%"><%=organizer.first_name%> <%=organizer.last_name%> <%= organizer.index%></td>
                                    <td width="20%"><button type="button" class="btn btn-info btn-rounded btn-sm my-0" data-toggle="modal" data-target="#mailModal" data-mail="<%=organizer.email%>" data-type="Organizers">Contacter</button></td>
                                    <td width="20%"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" data-toggle="modal" data-target="#removeModal" data-type="Organizers" data-username="<%=organizer.first_name%> <%=organizer.last_name%>" data-usermail="<%=organizer.email%>">Supprimer</button></td>
                                </tr>
                                <% }); %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>Bénévoles</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-editable">
                            <button type="button" class="btn btn-primary btn-rounded" style="margin-bottom: 1em;" data-toggle="modal" data-target="#modal-helpers">Ajouter des bénévoles</button>
                            <% if(helpers.length > 0){%>
                            <button type="button" class="btn btn-info btn-rounded" style="margin-bottom: 1em;" id="save-helper-post">Enregistrer les postes attribués</button>
                            <table id="table" class="table table-bordered table-responsive-md table-striped text-center">
                                <tr>
                                    <th class="text-center">Nom</th>
                                    <th class="text-center">Poste(s)</th>
                                    <th class="text-center">Contacter</th>
                                    <th class="text-center">Supprimer</th>
                                </tr>
                                <% helpers.forEach(function (helper) { %>
                                <tr>
                                    <td class="pt-3-half" contenteditable="false" width="40%"><%= helper.first_name %> <%=helper.last_name %></td>
                                    <td class="pt-3-half" contenteditable="false" width="20%">
                                        <div class="form-check" style="text-align: left;">
                                            <% helper.assignment.map((post, index) =>{ %>
                                                <input class="form-control-custom post-check" id="<%=helpers_id[helper.email]%>-<%=post.id%>" type="radio" value="<%=post.id%>" name="<%=helpers_id[helper.email]%>" <% if(post.attributed === 1){ %>checked<% } %>>
                                                <label for="<%=helpers_id[helper.email]%>-<%=post.id%>" id="<%=helpers_id[helper.email]%>-<%=post.id%>-label"><%=post.description%></label>
                                                <% if (index !== helper.assignment.length - 1){ %>
                                                    <br/>
                                                <% } %>
                                            <% }); %>
                                        </div>
                                    </td>
                                    <td width="20%"><button type="button" class="btn btn-info btn-rounded btn-sm my-0" data-toggle="modal" data-target="#mailModal" data-mail="<%=helper.email%>" data-type="Helpers">Contacter</button></td>
                                    <td width="20%"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" data-toggle="modal" data-target="#removeModal" data-type="Helpers" data-login="<%=helper.login%>" data-username="<%=helper.first_name%> <%=helper.last_name%>" data-usermail="<%=helper.email%>">Supprimer</button></td>
                                </tr>
                                <% }); %>
                            </table>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include details_modal.ejs %>
<script type="text/javascript">
    // JS for line-throught on radio button non-checked
    var assignment = [];
    $(document).ready(function () {
        <% helpers.forEach(function (helper) { %>
        $('input[type=radio][name="<%=helpers_id[helper.email]%>"]').change(function () {
            let val = this.value;
            let found = assignment.find(function (helper) {
                return helper.id_helper === "<%=helper.login%>"
            });
            if(found){
                found.id_helper_post = val;
            }else{
                assignment.push({id_helper: "<%=helper.login%>", id_helper_post: val});
            }
            console.log(assignment);
            $('input[type=radio][name="<%=helpers_id[helper.email]%>"]').each(function () {
                let label = this.id+"-label";
                if(this.value !== val){
                    $('#'+label).css('text-decoration', 'line-through');
                }else{
                    $('#'+label).css('text-decoration', 'none');
                }
            });
        });
        <% }); %>
    });
    <%- scripts %>
</script>
<!--<script type="text/javascript" src="/views/pages/contents/edit_raid/details.js"></script>-->