<!-- Side Navbar -->
<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info -->
            <div class="sidenav-header-inner text-center">
                <img src="data:image/png;base64,<%= user.picture %>" alt="person" class="img-fluid rounded-circle" />
                <h2 class="h5"><%= user.first_name %> <%= user.last_name %></h2>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><span class="brand-small text-center"><strong class="text-primary"><%= user.initials %></strong></span></div>
        </div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
        <h5 class="sidenav-heading">Menu</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">
            <li><a href="/" <% if (page == "accueil"){%> class="active" <%}%> > <i class="icon-home"></i>Accueil</a></li>
            <li><a href="/createraid/start" <% if (page.includes("create_raid")){%> class="active" <%}%> > <i class="icon-form"></i>Organiser un Raid</a>
                <% if (page.includes("create_raid")){%>
                    <ul class="list-unstyled">
                        <li><a href="#" <% if (page.includes("create_raid/start")){%> style="border-left: 2px solid #379392;" <%}%>>Initialisation</a></li>
                        <li><a href="#" <% if (page.includes("create_raid/description")){%> style="border-left: 2px solid #379392;" <%}%>>Description</a></li>
                        <li><a href="#" <% if (page.includes("create_raid/sports")){%> style="border-left: 2px solid #379392;" <%}%>>Sélection des sports</a></li>
                        <li><a href="#" <% if (page.includes("create_raid/summary")){%> style="border-left: 2px solid #379392;" <%}%>>Validation</a></li>
                    </ul>
                <%}%>
            </li>
            <% if(typeof user.raid_list !== "undefined" && user.raid_list.length > 0) { %>
                <li><a href="#manageraid" aria-expanded="<% if (page.includes("edit_raid")){%>true<%}else{%>false<%}%>" data-toggle="collapse"> <i class="icon-list"></i>Gérer mes Raids</a>
                    <ul id="manageraid" class="<% if (!page.includes("edit_raid")){%>collapse<%}%> list-unstyled ">
                        <% user.raid_list.forEach(function(one_raid){ %>
                            <li><a href="/editraid/<%=one_raid.id%>" <% if (page.includes("edit_raid/details") && one_raid.id === raid.id){%> style="border-left: 2px solid #379392;" <%}%>><%=one_raid.name%> - Édition <%=one_raid.edition%></a></li>
                        <% }); %>
                        <li><a href="/editraid" <% if (page.includes("edit_raid/all")){%> style="border-left: 2px solid #379392;" <%}%>>Autres Raids</a></li>
                    </ul>
                </li>
            <% } %>
            <li><a href="#superviseevent"> <i class="icon-screen"></i>Superviser un événement en cours</a></li>
        </ul>
    </div>
</nav>