<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active">Equipe et organisateurs</li>
            <li class="breadcrumb-item active">Gérer les bénévoles et les organisateurs</li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h4>Bénévoles et postes</h4>
                    </div>
                    <div class="card-body">
                        <% if(typeof data !== "undefined") { %>
                        <div class="container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Post</th>
                                        <th>Assign Helper to Post</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(function(item){ %>
                                    <form class="text-left form-validate" method="post" action="/manageteam/helper">
                                        <tr>
                                            <td><%-item.data.email%></td>
                                            <td><%-item.data.last_name%></td>
                                            <td><%-item.data.first_name%></td>
                                            <td>
                                              <select id="registerIdHelperPost" onchange="buttonToValidCurrentPost()" name="registerHelper" class="form-control">
                                                <% item.data.assignment.forEach(function(assignment){ %>
                                                  <option value='<%-item.user%>:<%-assignment.id%>'> <%-assignment.description%> </option>
                                                <% }); %>
                                              </select>
                                            </td>
                                            <td>
                                              <input type="submit" id="Assign" name="Assign" value='Assign' class="btn btn-primary" disabled/>
                                            </td>
                                        </tr>
                                    </form>
                                    <% }); %>
                                </tbody>
                            </table>
                            <script>
                              function buttonToValidCurrentPost(){
                                let value = document.getElementById("registerIdHelperPost").value;
                                let tab = value.split(':');
                                let local_data = <%- JSON.stringify(data) %>;
                                local_data.forEach(function(item){
                                  if(item.user == tab[0]){
                                    item.data.assignment.forEach(function(assignment){
                                      if(assignment.id == tab[1]){
                                        if(assignment.attributed == 0){
                                          document.getElementById("Assign").removeAttribute("disabled");
                                        } else {
                                          document.getElementById("Assign").setAttribute("disabled","disabled");
                                        }
                                      }
                                    });
                                  }
                                });
                              }
                            </script>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
